<!DOCTYPE html>
<html>
  <head>
    <title>ArtjournalFarhafarooque</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  </head>

  <body>
    <div class="main-nav-bar sticky-top">
      <ul class="list-inline text-center p-3 m-0 ">
        <li class="list-inline-item"><%= link_to "Home", root_path, class: "d-block btn" %></li>
        <li class="list-inline-item"><%= link_to "About me", pages_about_path, class: "d-block btn" %></li>
        <li class="list-inline-item"><%= link_to "Portfolio", pages_portfolio_path, class: "d-block btn" %></li>
        <li class="list-inline-item"><%= link_to "Shop", pages_shop_path, class: "d-block btn" %></li>
      </ul>
    </div>
    <div class="container border-top pt-3">
      <%= yield %>
    </div>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
