<!DOCTYPE html>
<html>
  <head>
    <title>ArtjournalFarhafarooque</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <%= link_to "Home", root_path, class: "navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Portfolio", portfolio_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Shop", shop_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About me", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Travelogues", travelogues_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container border-top pt-3">
      <%= yield %>
    </div>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
