<div class="main-nav-bar sticky-top">
  <div class="d-flex justify-content-around">
    <ul class="list-inline text-center p-3 m-0 ">
      <li class="list-inline-item"><%= link_to "Home", root_path, class: "d-block btn"%></li>
    </ul>

    <div class="links">
      <ul class="list-inline text-center p-3 m-0 ">
        <li class="list-inline-item"><%= link_to "Portfolio", portfolio_path, class: "d-block btn" %></li>
        <li class="list-inline-item"><%= link_to "Shop", shop_path, class: "d-block btn" %></li>
        <li class="list-inline-item"><%= link_to "About me", about_path, class: "d-block btn" %></li>
        <li class="list-inline-item"><%= link_to "Travelogues", travelogues_path, class: "d-block btn" %></li>
      </ul>
    </div>
  </div>
</div>
